.env
service-request-project-7214c-firebase-adminsdk-fbsvc-ddc8673e12.json
#These are the files that are needed in order for the application to run successfully and interact with the database abd get to use google maps
